{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
  <section id="about">
    <div class="card flex-center flex-column">
      <div class="card-title">About Battlefield</div>
      <p>Battlefield is a free and open source project started in <a href="http://tehpug.ir">TehPUG</a>.
        The project's goal is to help people in TehPUG learn more about python
        by sending their codes into a war! and also having fun. The project
        is a place for developers to write codes and send it to Battlefield to
        run it against other developers code.</p>
      <a class="button" href="https://github.com/tehpug/ares">GitHub</a>
    </div>
  </section>
{% endblock %}
