{% extends 'base.html' %}

{% block content %}
  <section id="contact">
    <div class="card flex-center flex-column">
      <h2>Contact</h2>
      <p>The project maintainer is <a href="https://mehdy.me">Mehdy Khoshnoody</a></p>
      <div class="social">
        <a href="https://github.com/tehpug/Ares"><i class="fa fa-github"></i></a>
        <a href="mailto:battlefield@tehpug.ir"><i class="fa fa-mail-reply"></i></a>
        <a href="#" target="_blank" class=""><i class="fa fa-facebook"></i></a>
        <a href="#" target="_blank" class=""><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank" class=""><i class="fa fa-google-plus"></i></a>
        <a href="#" target="_blank" class=""><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </section>
{% endblock %}
