
<!-- Portfolio Start -->
<section id="leagues" class="portfolio section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Leagues</h2>
          <p>Here you can see some of the ongoing leagues.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="portfolio">
        <li class="filter" data-filter="all">all</li>
        <li class="filter" data-filter=".apps">apps</li>
        <li class="filter" data-filter=".mockups">mockups</li>
        <li class="filter" data-filter=".wordpress">wordpress</li>
      </ul>
    </div>

    <div class="portfolio-inner">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
          <div class="item">
            <a href="{% static "images/portfolio/1.jpg" %}" class="portfolio-popup" title="Project Title">
              <img src="{% static "images/portfolio/1.jpg" %}" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
          <div class="item">
            <a href="{% static "images/portfolio/2.jpg" %}" class="portfolio-popup" title="Project Title">
              <img src="{% static "images/portfolio/2.jpg" %}" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
          <div class="item">
            <a href="{% static "images/portfolio/3.jpg" %}" class="portfolio-popup" title="Project Title">
              <img src="{% static "images/portfolio/3.jpg" %}" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 mix mockups wordpress">
          <div class="item">
            <a href="{% static "images/portfolio/4.jpg" %}" class="portfolio-popup" title="Project Title">
              <img src="{% static "images/portfolio/4.jpg" %}" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 mix wordpress apps">
          <div class="item">
            <a href="{% static "images/portfolio/5.jpg" %}" class="portfolio-popup" title="Project Title">
              <img src="{% static "images/portfolio/5.jpg" %}" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 mix apps mockups wordpress" title="Project Title">
          <div class="item">
            <a href="{% static "images/portfolio/6.jpg" %}" class="portfolio-popup">
              <img src="{% static "images/portfolio/6.jpg" %}" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="text-center margin-top-50">
    <a class="button button-style button-style-dark button-style-icon fa fa-long-arrow-right smoth-scroll"
       href="">More Leagues</a>
  </div>

</section>
<!-- Portfolio End -->

<!-- Testimonial Start -->
<section id="hall-of-fame" class="testimonial-section section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Hall of Fame</h2>
          <p>Meet the top winner developers.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="testimonial-carousel-list margin-top-20">

        <div class="testimonial-word text-center">
          <img src="{% static "images/testimonial/1.png" %}" class="img-responsive" alt="">
          <h2>John doe</h2>
          <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duisauteiruredolor in reprehenderit in voluptate.</p>
        </div>

        <div class="testimonial-word text-center">
          <img src="{% static "images/testimonial/2.png" %}" class="img-responsive" alt="">
          <h2>John doe</h2>
          <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duisauteiruredolor in reprehenderit in voluptate.</p>
        </div>

        <div class="testimonial-word text-center">
          <img src="{% static "images/testimonial/3.png" %}" class="img-responsive" alt="">
          <h2>John doe</h2>
          <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duisauteiruredolor in reprehenderit in voluptate.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Testimonial End -->

<!-- statistics -->
<section class="statistics-section section-space-padding bg-cover text-center" data-stellar-background-ratio="0.3">
  <div class="container">

    <div class="row">
      <div class="statistics-center">
        <!-- This code will work at max-width: 767px -->

        <div class="col-md-3 col-sm-6">
          <div class="statistics">
            <div class="statistics-icon"><i class="fa fa-check-square-o color-1"></i>
            </div>
            <div class="statistics-content">
              <h5><span data-count="2025" class="statistics-count">2025</span></h5><span>Different Games</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="statistics">
            <div class="statistics-icon"><i class="fa fa-smile-o color-3"></i>
            </div>
            <div class="statistics-content">
              <h5> <span data-count="1200" class="statistics-count">1200</span></h5><span>Leagues</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="statistics">
            <div class="statistics-icon"><i class="fa fa-hourglass-start color-5"></i>
            </div>
            <div class="statistics-content">
              <h5><span data-count="8000" class="statistics-count">8000</span></h5><span>Tournaments</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="statistics">
            <div class="statistics-icon"><i class="fa fa-coffee color-4"></i>
            </div>
            <div class="statistics-content">
              <h5><span data-count="4000" class="statistics-count">4000</span></h5><span>Games Done</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- statistics end -->

<!-- Services Start -->
<section id="participate" class="services-section section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>How to Participate</h2>
          <p>Learn how to participate in leagues, tournaments and etc.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-mobile color-1"></i>
          <h3>Mobile Design</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-tablet color-2"></i>
          <h3>Tablet Design</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-code color-3"></i>
          <h3>Clean Code</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-support color-4"></i>
          <h3>Full Support</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-html5 color-5"></i>
          <h3>HTML5 Design</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <i class="fa fa-ge color-6"></i>
          <h3>CSS3 Design</h3>
          <hr>
          <p>Rolling is a clean and beautiful template with every must features.
            You can use it for many purpose in website.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Services End -->

<!-- Call to Action Start -->
<section class="call-to-action section-space-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Looking for more? Want to support? Have an idea? ...</h2>

        <div class="text-center margin-top-20">
          <a class="button button-style button-style-dark button-style-icon fa fa-long-arrow-right smoth-scroll"
             href="#contact">Contact Us</a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Call to Action End -->

