{% extends 'base.html' %}

{% block content %}
  <section id="league">
    <div class="card flex-center flex-column">
      <div class="card-title">{{ league.title }}</div>
      <div class="card-description">{{ league.description }}</div>
      <div class="card-key">Registration</div>
      <div class="card-value">Since {{ league.registration_date_start }}</div>
      <div class="card-value">Until {{ league.registration_date_end }}</div>
      <div class="card-key">Schedule</div>
      <div class="card-value">Starts {{ league.date_start }}</div>
      <div class="card-value">Ends {{ league.date_end }}</div>
      <div class="card-key">Robots</div>
      <div class="card-value">{{ league.robots.count }} robots out of {{ league.num_robots }}</div>

      <a {% if is_registered or is_expired or is_full %}
        class="button btn-disable"
      {% else %}
        class="button"
        href="{% url 'leagues:register' league.id %}"
      {% endif %}>{% if is_registered %}Already Registered{% elif is_full%}FULL!{% else %}Register{% endif %}</a>
    </div>
  </section>
{% endblock %}
